{% extends 'base.html.twig' %}

{% block title %}Trouver le centre le plus proche
{% endblock %}

{% block body %}

	<h1 class="col-12 text-center h3 my-5">Trouver le centre le plus proche</h1>

	<div class="row justify-content-around">
		<div class="col-11 mx-auto col-lg-5 p-0">
			<div class="card col-12 text-center border-primary p-0 py-2">
				{# on affiche le formulaire #}
				{{ form_start(form) }}
				  	<div class="form-group col-10 mx-auto">
						<label class="h5">Par ville d'intervention:</label>
						{{ form_widget(form.ville) }}
					</div>


					<hr class="col-11 mx-auto">

					<div class="col-12 d-flex flex-wrap my-3 justify-content-center">
						<h4 class="col-12">Par coordonnées GPS:</h4>

						<div class="form-group col-8  mb-3">
							{{ form_widget(form.interventionLatitude) }}
						</div>
						<div class="form-group col-8 ">
							{{ form_widget(form.interventionLongitude) }}
						</div>
					</div>
					
					{{ form_rest(form) }}
				{{ form_end(form) }}

			</div>
		</div>
		<div class="col-12 col-lg-6 my-3 my-lg-0 p-0">
			{# s'il y a une recherche #}
			{% if datas | length > 0 %}
				<div class="card col-11 mx-auto border-primary p-2">
					<table class="table text-center align-middle">
						<thead>
							<th>Centre</th>
							<th>Type</th>
							<th>Distance<br/>(ALLER)</th>
							<th>Temps de trajet<br/>(ALLER)</th>
						</thead>
						<tbody>
							{% for data in datas %}
								{% set dureeEnSecondes = data.duration %}
								{% set hours = (dureeEnSecondes / 3600) %60 | round %}
								{% set minutes = (dureeEnSecondes / 60) %60 | round %}
								<tr>
									<td>{{ data.shop.name }}</td>
									<td><span class="badge" style="color:{{ data.shop.type.color.textColor }}; background-color:{{ data.shop.type.color.bgColor }};"> {{ data.shop.type.type }} </span></td>
									<td>{{ data.distance / 1000 }}
										KMS</td>
									<td>
										{% if hours > 0 %}
											{{ hours }}
											H
										{% endif %}
										{{ minutes }}
										min
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			{% else %}
				<div class="card col-11 mx-auto text-center text-black d-flex flex-column justify-content-around border-primary h-100">
					En attente du lieu d'intervention...
				</div>
			{% endif %}
		</div>
	</div>


{% endblock %}