{% extends 'base.html.twig' %}

{% block title %}ColorShop index{% endblock %}

{% block body %}
    <h1>ColorShop index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for color_shop in color_shops %}
            <tr>
                <td>{{ color_shop.id }}</td>
                <td>{{ color_shop.name }}</td>
                <td>
                    <a href="{{ path('app_color_shop_show', {'id': color_shop.id}) }}">show</a>
                    <a href="{{ path('app_color_shop_edit', {'id': color_shop.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_color_shop_new') }}">Create new</a>
{% endblock %}
