{% extends 'base.html.twig' %}

{% block title %}Liste des centres rattachés au CGO
{% endblock %}

{% block body %}
	<h1 class="col-12 text-center my-5">Liste des centres rattachés au CGO</h1>

	<div class="row justify-content-center justify-content-lg-start">
		{% for shop in shops %}
			<div class="col-11 col-md-6 col-lg-3 m-2">
				<div class="card p-0 border-primary">
					<div class="card-header">
						{{ shop.name }} {{ shop.isOnLine ? '<i class="fa-solid fa-circle text-success"></i>' : '<i class="fa-solid fa-circle text-danger"></i>' }} <br/>
						<span class="badge" style="color:{{ shop.type.color.textColor }}; background-color:{{ shop.type.color.bgColor }};"> {{ shop.type.color.name }} </span>
					</div>
					<div class="card-body">
						Latitude: {{ shop.latitude }}<br/>
						Longitude: {{ shop.longitude }}
					</div>
					<div class="card-footer text-end">
						<a class="btn btn-warning" href="{{ path('app_shop_edit', {'id': shop.id}) }}">Éditer</a>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>

	<a class="btn btn-primary mt-3" href="{{ path('app_shop_new') }}">Créer un nouveau centre +</a>
{% endblock %}
