{% extends 'base.html.twig' %}

{% block title %}TypeOfShop{% endblock %}

{% block body %}
    <h1>TypeOfShop</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ type_of_shop.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ type_of_shop.type }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_type_of_shop_index') }}">back to list</a>

    <a href="{{ path('app_type_of_shop_edit', {'id': type_of_shop.id}) }}">edit</a>

    {{ include('type_of_shop/_delete_form.html.twig') }}
{% endblock %}
