{% extends 'base.html.twig' %}

{% block title %}Liste total des centres en BDD
{% endblock %}

{% block body %}
	<h1 class="col-12 text-center my-5">Liste total des centres en BDD</h1>

	<a class="btn btn-primary mb-5" href="{{ path('app_admin_shop_new') }}">Créer un nouveau centre+</a>

	<table class="table table-striped text-center align-middle">
		<thead>
			<tr>
				<th>Nom</th>
				<th>Type de centre</th>
				<th>Coordonnées GPS</th>
				<th>Rattaché au CGO de</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for shop in shops %}
				<tr>
					<td>{{ shop.name }} {{ shop.isOnLine ? '<i class="fa-solid fa-circle text-success"></i>' : '<i class="fa-solid fa-circle text-danger"></i>' }}</td>
					<td><span class="badge" style="color:{{ shop.type.color.textColor }}; background-color:{{ shop.type.color.bgColor }};"> {{ shop.type.color.name }} </span></td>
					<td>Lat: {{ shop.latitude }} - Lng: {{ shop.longitude }}</td>
					<td>{{ shop.cgo.name }}</td>
					<td>
						<a class="btn btn-warning" href="{{ path('app_admin_shop_edit', {'id': shop.id}) }}">Éditer</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="5">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
